*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    /* height: 100vh; */
      background-image: linear-gradient(rgb(164, 151, 221), rgb(241, 128, 152));

}

.header{
    width:100%;
    height:10%;
    background:#bbb;
    text-align:justify; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    position: fixed;
 }
.dropdown {
  position: relative;
  display: inline-block;
}
/* .searchbox{
    width: 300px;
    height: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow:5px 5px 10px black;
} */
/* #search{
    width:inherit;
    border: none;
    background: transparent;
    padding: 5px;

}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
} */
 img {
  border: 2px solid #b16060;
  border-radius: 5px;
  padding: 5px;
  /* width: 150px; */
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* <a href="paris.jpg">
  <img src="paris.jpg" alt="Paris">
</a> */
div ul li{
    text-decoration:none;
    display: flex;
}
div ul li a{
    display:flex;
    text-decoration: none; 
    font-family: "Pacifico",cursive;
}
.nav ul{
    display: flex;
    gap: 30px;
}
div ul li a:hover{
    color: red;  
}

div ul li .active{
     color: red;

}
/* BEST{
    text-al.ign: center;
    justify-content: center;

}

.BEST h1{
    margin: 15px 0;
} */
.ggg{
    display: flex;
    text-align: justify;
    align-items: center;
    gap: 20px;
}
.hero_text{
    width: 30%;
}
.hhh{
     display: flex;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
 }
.ggg img{
margin-top: 80px;
}
.hhh div{
font-size: 3vh;
}